// import fonts and other global stuff here

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; // makes things easier to layout since size includes padding + border width
}

html,
body {
  padding: 0;
  margin: 0;
}